/*

   ? Mobile First

*/
/* fixme Root --> Colors */
:root {
   --color-white: #fff;
   --color-gray: #242c2c;
   --color-gray-light: #586165;
   --color-green-light: #63c6ae;
   --color-gray-rgb: rgba(255, 255, 255, 0.2);
}

/* ! Style Default */
body {
   margin: 0;
   font-family: "Open Sans", sans-serif;
}

/* ! Header Nav */
.header {
   background: var(--color-white);
   width: 100%;
}
.header__nav {
   clear: left;
}
.header__nav ul {
   margin: 0;
   padding: 0;
}
.header__nav li {
   list-style-type: none;
   background: var(--color-gray);
   text-align: center;
   border-bottom: 0.0625rem dotted var(--color-gray-rgb);
}
.header__nav a {
   text-decoration: none;
   text-transform: uppercase;
   color: var(--color-gray-light);
   font-size: 0.875rem;
   font-weight: 600;
   display: block;
   padding: 1.562rem 0;
   transition: 0.8s ease;
}
.header__nav a:hover {
   color: var(--color-green-light);
}
.header__btn_menu {
}
.logo_text {
   text-transform: uppercase;
   background-color: var(--color-green-light);
   font-size: 1.5rem;
   padding: 1.25rem;
   margin: 0;
   display: block;
   float: left;
   text-decoration: none;
   font-weight: bold;
   color: var(--color-white);
}
