@media screen and (min-width: 1025px) {
   .header {
      position: fixed;
   }

   .logo_text {
      width: 25%;
      box-sizing: border-box;
   }

   .header__btn_menu {
      display: none;
   }

   .header__nav {
      width: 75%;
      float: left;
      clear: none;
      max-width: 800px;
   }

   .header__nav ul {
      display: flex;
      justify-content: space-around;
   }

   .header__nav li {
      border-bottom: none;
   }

   .header__nav a {
      background-color: var(--color-white);
   }

   /*
      ========================= ==>
      ! |> Section Cards
      <== =========================
   */

   .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.87rem;
   }

   /*
      ========================= ==>
      ! |> Articles Content
      <== =========================
   */

   .content .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.87rem;
   }

   /*
      ========================= ==>
      ! |> Lastet Articles
      <== =========================
   */

   .last__articles__thumbs {
      grid-template-columns: repeat(6, 1fr);
   }

   /*
      ========================= ==>
      ! |> Footer
      <== =========================
   */

   .footer .container {
      display: flex;
   }

   .footer .container > * {
      margin: 1.5em;
   }
}
