/*

   ? Mobile First

*/
/*
   ========================= ==>
   fixme |> Root: --> Color
   <== =========================
*/
:root {
   --color-white: #fff;
   --color-white-lighten: #dbe1e7;
   --color-gray: #242c2c;
   --color-gray-2: #e3e3e3;
   --color-gray-3: #455357;
   --color-gray-4: #242a2c;
   --color-gray-5: #454e51;
   --color-gray-dark: #586165;
   --color-gray-bright: #737c85;
   --color-gray-lighten: #929da5;
   --color-gray-light: #f8f9f9;
   --color-green-light: #63c6ae;
   --color-green-darken: #48b9a1;
   --color-gray-rgb: rgba(255, 255, 255, 0.2);
   --color-black-rgb: rgba(0, 0, 0, 0.2);
   --color-gray-rgba-light: rgba(255, 255, 255, 0.3);
}

/*
   ========================= ==>
   ! |> Style Default
   <== =========================
*/
body {
   margin: 0;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
}

img {
   max-width: 100%;
}

.container {
   margin-right: auto;
   margin-left: auto;
   padding-right: 1em;
   padding-left: 1em;
   max-width: 61.25rem;
}

.button {
   padding: 0.93rem 2.5rem;
   border-radius: 0.187rem;
   text-decoration: none;
   font-weight: 600;
   font-size: 0.937rem;
   margin-right: 0.937rem;
   display: inline-block;
   transition: background 0.5s;
}

.button:hover {
   background-color: var(--color-gray-lighten);
}

.button__primary {
   background-color: var(--color-green-light);
   color: var(--color-white);
}

.button__secondary {
   background-color: var(--color-gray-3);
   color: var(--color-white);
}

/*
   ========================= ==>
   ! |> Header --> Navigation
   <== =========================
*/
.header {
   background: var(--color-white);
   width: 100%;
}
.header__nav {
   clear: left;
}
.header__nav ul {
   margin: 0;
   padding: 0;
}
.header__nav li {
   list-style-type: none;
   background: var(--color-gray);
   text-align: center;
   border-bottom: 0.0625rem dotted var(--color-gray-rgb);
}
.header__nav a {
   text-decoration: none;
   text-transform: uppercase;
   color: var(--color-gray-dark);
   font-size: 0.875rem;
   font-weight: 600;
   display: block;
   padding: 1.562rem 0;
   transition: 0.8s ease;
}
.header__nav a:hover {
   color: var(--color-green-light);
}
/* .header__btn_menu {
} */
.logo_text {
   text-transform: uppercase;
   background-color: var(--color-green-light);
   font-size: 1.5rem;
   padding: 1.25rem;
   margin: 0;
   display: block;
   float: left;
   text-decoration: none;
   font-weight: bold;
   color: var(--color-white);
   text-align: right;
}

/*
   ========================= ==>
   ! |> Section Hero
   <== =========================
*/
.hero {
   height: 80vh;
   padding: 2.5rem 1.25rem;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background: linear-gradient(45deg, var(--color-white) 50%, transparent 50%)
         left calc(50% + 1.25rem) bottom no-repeat,
      linear-gradient(-45deg, var(--color-white) 50%, transparent 50%) left
         calc(50% - 1.25rem) bottom no-repeat,
      url(../assets/01.jpg);
   background-size: 2.5rem 2.5rem, 2.5rem 2.5rem, cover;
}

.hero__title {
   background-color: var(--color-green-light);
   color: var(--color-white);
   font-size: 1.75rem;
   font-weight: 600;
   padding: 1.875rem 1.25rem;
   text-transform: uppercase;
}
.hero__text {
   background-color: var(--color-gray);
   color: var(--color-white);
   margin: 0.312rem 1.875rem 2.18rem;
   padding: 1.25rem;
   font-size: 1rem;
}

.hero__btn {
   border: 0.0625rem solid var(--color-gray-rgba-light);
   background-color: var(--color-black-rgb);
   color: var(--color-white);
   border-radius: 0.31rem;
   padding: 0.937rem 1.56rem;
   display: inline-block;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 600;
}

/*
   ========================= ==>
   ! |> Section Cards
   <== =========================
*/

.cards {
   margin-top: 2.5rem;
}

.cards__items:hover {
   outline: 5px solid var(--color-green-light);
   outline-offset: -0.31rem;
}

.cards__items:hover .cards__avatar img {
   transform: translateY(-50%);
}

.cards__items:hover .cards__title,
.cards__items:hover .cards__subtitle {
   color: var(--color-green-light);
}

.cards__images {
   width: 100%;
}

.cards__avatar {
   margin: -3.43rem auto;
   width: 5.5rem;
   height: 5.5rem;
   overflow: hidden;
}

.cards__content {
   text-align: center;
   padding: 2.5rem 1.56rem 0.625rem;
   border-left: 1px solid var(--color-white-lighten);
}

.cards__title {
   color: var(--color-gray-bright);
   font-size: 1.31rem;
   font-weight: normal;
}

.cards__subtitle {
   color: var(--color-gray-lighten);
   font-size: 0.87rem;
}

/*
   ========================= ==>
   ! |> Articles Content
   <== =========================
*/

.content {
   background: var(--color-gray-light);
   padding: 1.25rem 0 5rem;
   border-top: 1px solid var(--color-gray-2);
}

.content .content__title {
   color: var(--color-gray-bright);
   font-size: 1.31rem;
   padding-top: 2.5rem;
   font-weight: 400;
}

.content .content__text {
   color: var(--color-gray-lighten);
   font-size: 0.875rem;
   word-spacing: 0.187rem;
}

/*
   ========================= ==>
   ! |> Lastet Articles
   <== =========================
*/

.last__articles__title {
   background: var(--color-green-light);
   padding: 0.31rem 0;
}

.last__articles__title h2 {
   font-size: 1.5rem;
   color: var(--color-white);
   text-transform: uppercase;
   font-weight: 400;
}

.last__articles__thumbs {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
   grid-auto-rows: auto;
   grid-gap: 0;
}

.last__articles__thumbs img {
   display: block;
   width: 100%;
}

/*
   ========================= ==>
   ! |> Section Slider
   <== =========================
*/

.section__slider {
   background-color: var(--color-gray);
   padding: 7.81rem 0 6.25rem;
   width: 100%;
   overflow: auto;
}

.slider__show {
   white-space: nowrap;
}

.slider__show figure {
   display: inline-block;
}

/*
   ========================= ==>
   ! |> Quote Section
   <== =========================
*/

.quote__container {
   background-color: var(--color-green-light);
   padding: 3.12rem 0;
   border-bottom: 0.75rem solid var(--color-green-darken);
}

.quote__slide_show h2 {
   color: var(--color-white);
   font-size: 1.875rem;
   font-style: italic;
   font-weight: normal;
}

.quote__slide_show figcaption {
   color: var(--color-white);
   font-size: 1.125rem;
   text-align: center;
}

.no-js .quote__slide_show figure + figure {
   margin-top: 5em;
}

/*
   ========================= ==>
   ! |> Footer
   <== =========================
*/

.footer {
   background-color: var(--color-gray-4);
   padding: 3.125rem 0 15.625rem;
   color: var(--color-gray-5);
   font-size: 0.875rem;
}

.footer__links li {
   list-style: none;
}

.footer__links a {
   color: var(--color-gray-5);
   display: inline-block;
   font-weight: 600;
   text-decoration: none;
}

.footer__title {
   text-transform: uppercase;
}
